@media screen and (max-width: 618px) {
  .header__nav-user_mobile {
    gap: 20px;
    margin: 15px 0 30px;
    padding-bottom: 35px;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #3b3b3b;
  }
}
