.header__burger {
  display: none;
}

@media screen and (max-width: 618px) {
  .header__burger {
    display: block;
    background: url('../../../images/burger.svg') no-repeat center;
    width: 25px;
    height: 27px;
    margin-right: 30px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    cursor: pointer;
  }

  .header__burger:hover {
    opacity: 0.6;
  }
}
